absl-py==2.1.0
accelerate==0.31.0
addict==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
aitemplate==0.0.1+das1.1.git5d8aa20.dtk2404.torch2.1.0
annotated-types==0.7.0
anyio==4.4.0
apex==1.1.0+das1.1.gitf477a3a.abi1.dtk2404.torch2.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bitsandbytes==0.42.0+das1.1.gitce85679.abi1.dtk2404.torch2.1.0
bleach==6.1.0
brotlipy==0.7.0
cachetools==5.5.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
conda==22.11.1
conda-content-trust==0.1.3
conda-package-handling==1.9.0
contourpy==1.2.1
cryptography==38.0.1
cycler==0.12.1
datasets==3.0.1
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.12.3+gita724046.abi1.dtk2404.torch2.1.0
defusedxml==0.7.1
dill==0.3.8
dnspython==2.6.1
dropout-layer-norm==0.1+das1.1gitc7a8c18.abi1.dtk2404.torch2.1
einops==0.8.0
email_validator==2.1.2
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.20.0
fastpt==1.0.0+das1.1.abi1.dtk2404
filelock==3.15.1
fire==0.6.0
flash-attn==2.0.4+das1.1gitc7a8c18.abi1.dtk2404.torch2.1
flatbuffers==24.3.25
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.0
fused-dense-lib==0.1+das1.1gitc7a8c18.abi1.dtk2404.torch2.1
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==4.3.2
git-lfs==1.6
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
hjson==3.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
hypothesis==5.35.1
idna==3.4
importlib_metadata==7.1.0
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter_ext_model==1.0.7
jupyter_ext_platform==1.0.11
jupyter-lsp==2.2.5
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab-language-pack-zh-CN==4.0.post6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
layer-check-pt==1.2.3.git59a087a.abi1.dtk2404.torch2.1.0
libclang==18.1.1
lightop==0.4+das1.1git8e60f07.abi1.dtk2404.torch2.1
lmdeploy==0.1.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mmcv==2.0.1+das1.1.gite58da25.abi1.dtk2404.torch2.1.0
mmengine==0.10.4
mmengine-lite==0.10.4
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
multiprocess==0.70.16
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
notebook_shim==0.2.4
numpy==1.24.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-runtime-cu11==11.8.89
nvidia-nccl-cu11==2.21.5
oauthlib==3.2.2
onnxruntime==1.15.0+das1.1.git739f24d.abi1.dtk2404
opencv-python==4.10.0.82
opt_einsum==3.4.0
orjson==3.10.5
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
peft==0.9.0
pexpect==4.9.0
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
pluggy==1.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat==0.6.4
pycparser==2.21
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pynvml==11.5.0
pyOpenSSL==22.0.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
ray==2.9.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rotary-emb==0.1+das1.1gitc7a8c18.abi1.dtk2404.torch2.1
rpds-py==0.18.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
safetensors==0.4.3
scikit-learn==1.5.2
scipy==1.10.1
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
setuptools==65.5.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.3
starlette==0.37.2
sympy==1.12.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==2.1.0+das1.1.git3ac1bdd.abi1.dtk2404
torchaudio==2.1.2+das1.1.git63d9a68.abi1.dtk2404.torch2.1.0
torchvision==0.16.0+das1.1.git7d45932.abi1.dtk2404.torch2.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.27.4
triton==2.1.0+das1.1.git4bf1007a.abi1.dtk2404.torch2.1.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uri-template==1.3.0
urllib3==1.26.13
uvicorn==0.30.1
uvloop==0.19.0
vllm==0.3.3+das1.1.gitdf6349c.abi1.dtk2404.torch2.1.0
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
wheel==0.37.1
widgetsnbextension==4.0.11
wrapt==1.16.0
xentropy-cuda-lib==0.1+das1.1gitc7a8c18.abi1.dtk2404.torch2.1
xformers==0.0.25+das1.1.git8ef8bc1.abi1.dtk2404.torch2.1.0
xxhash==3.5.0
yapf==0.40.2
yarl==1.16.0
zipp==3.19.2
